<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    <style>

    body{
        overflow: auto;
    }
    canvas {
        background-color:#D0D0D0;
        /*width: 100%;*/
        height: auto;
    }
    .box{
        margin-bottom: 10px;
    }


</style>
    <title>WiFi Mapper Report</title>
</head>
<body>
<div class="container">
    <div class=" jumbotron">
<h1 >BugBusters Wifi Mapper Report for ICTS at the University of Cape Town</h1>
        <p id="numAreas"></p>
        <p id="numLocations"></p>
        <p id="maxSignal"></p>
        <button class="btn btn-default" onclick="generateReport()">save as pdf</button>
</div>
</div>
<div class="container-fluid">


<div class="row">



<div class="col-sm-12 box  col-xs-12 col-md-4">
    <canvas id="bar-chart" width="400" height="400"></canvas></div>

<div class="col-sm-12 box col-xs-12 col-md-4">
    <canvas id="doughnut-chart" width="400" height="400" ></canvas>
</div>


<div class="col-md-4 box col-sm-12 col-xs-12">
    <canvas id="bar-chart1" width="400" height="400" ></canvas></div>
</div>
    <div class="col-md-12">
       <br>
        <br>
    </div>
<div class="col-sm-12">
    <canvas id="bubble-chart" width="400" height="400"></canvas>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>

<script src="../javascript/report.js"></script>
</body>
</html>